{% extends "layout.html" %}

{% block body %} {# Sonradan doldurulsun diye boş bırakılmış bloğun içinin doldurulması. #}
<h3 style="text-align:center">Yıldız Blog Hakkında</h3>
<hr>
Ben Arda Celep. Bursa/Osmangazi'de doğdum. Doğumumdan itibaren Bursa'nın Mustafakemalpaşa ilçesinde yaşamaya
başladım ve ilkokul-ortaokul eğitimimi burada Sınav Koleji'nde tamamladım. Sonrasında LGS'ye girerek
Bursa Tofaş Fen Lisesi'ne yerleştim ve bilgisayar-yazılıma bu zamanlarda ilgi duymaya başladım. 
Lise eğitimimi burada tamamladıktan sonra YKS sonucumla Yıldız Teknik Üniversitesi Bilgisayar Mühendisliği 
bölümüne yerleştim. Şu an hazırlık öğrencisiyim.
<hr>
{% endblock body %}

